@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allison&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url(Bank.jpg) no-repeat;
    background-size: cover;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    padding: 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    background-color: rgb(130, 50, 155);
}

#header .logo {
    background-color: rgb(80, 30, 100);
    padding: 15px 15px;
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    font-family: 'Allison', cursive;
    transition: ease-out 0.2s;
}

#header .logo:hover {
    padding: 30px 15px;
}

table,
th,
td {
    border: solid black;
    position: center;
    background-color: white;
    border-color: rgb(130, 50, 155);
}

section {
    padding: 50px;
    float: left;
}


/* INDEX style*/

section a {
    background: rgb(130, 50, 155);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}

section a:hover {
    background: rgb(80, 30, 100);
}


/* NEW CUSTOMER */

.about {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px 450px;
    flex: 1;
    margin: 30px 50px;
    color: white;
}

.about h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 30px;
}

.form-control {
    background: #000;
    color: #fff;
    border: none;
    width: 500px;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

button,
button.a {
    float: left;
    background: rgb(130, 50, 155);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in;
}


/* withdraw */

.wid {
    float: right;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 100px 100px;
    flex: 1;
    margin: 30px 50px;
    color: white;
}